.Layout {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
	background-image: linear-gradient(30deg, rgb(240, 225, 240), rgb(80, 161, 175), rgb(240, 225, 240));
}