.board {
    min-width: 300px;
    margin: 2% 0;
    display: inline-grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);
}

.board > * {
    background-color: #ccc;
}

.cell > * {
    position: relative;
    font-size: 100px;
    height: 150px;
    align-items: center;
}
.newGameButton {
    grid-column: 3 span;
}