.board {
    display: inline-grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.board > * {
    padding: 10px;
    background-color: #ccc;
}

.cell {
    font-size: 120px;
    width: 270px;
    height: 150px;
    justify-content: center;
    align-items: center;
}